#rodape-site {
	width: 100%;
	background: darken($azul,5%);
	color: white;

	&.pagina-interna {margin-top: $margem * 3;}

	.container {
		padding-top: $margem * 2;
		padding-bottom: $margem * 2;
	}

	.creditos {
		background: darken($azul,10%);
		text-align: center;
		padding: $margem / 2;
		font-weight: bold;
		font-size: 10px; 
		letter-spacing: 0.09em;
		text-transform: uppercase;

		a {text-decoration: underline;}
	}
}