/****************************************
 ----------------------------------------
 * PADRAO DE ITENS *
 ----------------------------------------
 ****************************************/
@mixin flex($dir) {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content($dir);
}

@mixin blocoabsoluto() {
    width: 100%; height: 100%; position: absolute;
    top: 0; left: 0; display: block;
}

@mixin imagemfull($size,$pos1,$pos2) {
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $pos1 $pos2;
}

@mixin clearfix() {
    zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}


@mixin sombra() {
    box-shadow: 0 0 18px transparentize(black,0.9);
}

@include keyframes(tornarVisivel) {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
